doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="en")
	// <![endif]
	head
		title Global
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// FontAwesome
		link(rel="stylesheet", href="libs/fontawesome/css/fontawesome-all.min.css")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Animate
		link(rel="stylesheet", href="css/animate.css")
		// Slider.UI
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		// NoUI Slider
		link(rel="stylesheet", href="libs/nouislider/nouislider.min.css")
		// Powerange
		link(rel="stylesheet", href="libs/powerange/powerange.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet", href="css/media.css")
		link(rel="stylesheet", href="libs/selecter/jquery.fs.selecter.min.css")
	body
		// Content Start
		.stub
			.stub__text-container
				a.prevdef.stub__logo(href="#")
					img.stub__logo-image(src="assets/logo.png", alt="pic")
					p.stub__logo-name Global
				p.stub__paragraph Global has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.

		a.logo.prevdef(href="#")
			img.logo__image(src="assets/logo.png", alt="pic")
			p.logo__name Global

		.hamburger
			.hamburger__elem

		nav.menu
			a.prevdef.menu__link(href="#") Home
			a.prevdef.menu__link(href="#") Works
			a.prevdef.menu__link(href="#") About
			a.prevdef.menu__link(href="#") Contact
			a.prevdef.menu__link(href="#") Hire Us
		
		.perspective
			.site
				.site__overlay
				.scale
					.scale__main-segmentation.scale__main-segmentation1.active
					.scale__secondary-segmentation.scale__secondary-segmentation1
					.scale__main-segmentation.scale__main-segmentation2
					.scale__secondary-segmentation.scale__secondary-segmentation2
					.scale__main-segmentation.scale__main-segmentation3
					.scale__secondary-segmentation.scale__secondary-segmentation3
					.scale__main-segmentation.scale__main-segmentation4
					.scale__secondary-segmentation.scale__secondary-segmentation4
					.scale__main-segmentation.scale__main-segmentation5

				.content
					.secondary-hamburger
						.secondary-hamburger__elem
					a.secondary-logo.prevdef(href="#")
						img.secondary-logo__image(src="assets/logo.png", alt="pic")
						p.secondary-logo__name Global
					.content__main-slider
						.content__main-slider-slide1.content__main-slider-slide
							.content__section.home
								.home__slider
									.home__slide1.home__slide.active
										h1.home__slider-headline Your next interactive experience 1
										a.prevdef.home__slider-hire-link(href="#") Hire us
											.home__hire-link-arrow
									.home__slide2.home__slide
										h1.home__slider-headline Your next interactive experience 2
										a.prevdef.home__slider-hire-link(href="#") Hire us
											.home__hire-link-arrow
									.home__slide3.home__slide
										h1.home__slider-headline Your next interactive experience 3
										a.prevdef.home__slider-hire-link(href="#") Hire us
											.home__hire-link-arrow
									.home__slider-pagination-container
										a.prevdef.home__slider-pagination-link.active(href="#")
											p.home__pagination-name Metiew & Smith
											p.home__pagination-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										a.prevdef.home__slider-pagination-link(href="#")
											p.home__pagination-name Fantasy Interactive
											p.home__pagination-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										a.prevdef.home__slider-pagination-link(href="#")
											p.home__pagination-name Paul & Shark
											p.home__pagination-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						.content__main-slider-slide2.content__main-slider-slide
							.content__section.works
								a.prevdef.works__hire-us-link(href="#") Hire us
								h3.works__headline Selected work
								.works__slider
									a.prevdef.works__slide-item1.works__slide-item(href="#").left
										.works__slide-item-image
										h3.works__slide-item-headline Victory
										p.works__slide-item-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.
									a.prevdef.works__slide-item2.works__slide-item(href="#").center
										.works__slide-item-image
										h3.works__slide-item-headline Metiew & Smith
										p.works__slide-item-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.
									a.prevdef.works__slide-item3.works__slide-item(href="#").right
										.works__slide-item-image
										h3.works__slide-item-headline Alex Nowak
										p.works__slide-item-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.
								a.prevdef.works__slider-button.works__prev-button(href="#")
									.works__slider-button-arrow-icon
								a.prevdef.works__slider-button.works__next-button(href="#")
									.works__slider-button-arrow-icon
						.content__main-slider-slide3.content__main-slider-slide
							.content__section.about
								img.about__figure.about__figure1(src="assets/about__figure1.png", alt="pic")
								img.about__figure.about__figure2(src="assets/about__figure2.jpg", alt="pic")
								img.about__figure.about__figure3(src="assets/about__figure3.png", alt="pic")
								img.about__figure.about__figure4(src="assets/about__figure4.png", alt="pic")
								a.prevdef.about__hire-us-link(href="#") Hire Us
								h3.about__headline We believe in passionate people
								a.prevdef.about__career-link(href="#") Career
									.about__career-link-arrow
								.about__links-container
									a.prevdef.about__link(href="#")
									a.prevdef.about__link(href="#")
									a.prevdef.about__link(href="#")
						.content__main-slider-slide4.content__main-slider-slide
							.content__section.contact
								.contact__container
									a.prevdef.contact__hire-us-link(href="#") Hire Us
									.contact__block
										p.contact__address Pawia 5, 31-154 Kraków, Poland
										a.prevdef.contact__email(href="#") ouremail@gmail.com
										a.prevdef.contact__phone(href="#") +48 12 628 75 60
										a.prevdef.contact__behance(href="#") Bēhance
										a.prevdef.contact__dribble(href="#") dribble
										a.prevdef.contact__contact-us-link(href="#") Contact Us
						.content__main-slider-slide5.content__main-slider-slide
							.content__section.hire-us
								h3.hire-us__headline You want us to do
								form.hire-us__form(action="#" method="POST")
									.hire-us__row
										label.hire-us__checkbox-container
											input.hire-us__checkbox(type="checkbox", value="app-design")
											span.hire-us__checkbox-indicator
											span.hire-us__checkbox-description App Design
										label.hire-us__checkbox-container
											input.hire-us__checkbox(type="checkbox", value="graphic-design")
											span.hire-us__checkbox-indicator
											span.hire-us__checkbox-description Graphic Design
										label.hire-us__checkbox-container
											input.hire-us__checkbox(type="checkbox", value="motion-design")
											span.hire-us__checkbox-indicator
											span.hire-us__checkbox-description Motion Design
									.hire-us__row
										label.hire-us__checkbox-container
											input.hire-us__checkbox(type="checkbox", value="ux-design")
											span.hire-us__checkbox-indicator
											span.hire-us__checkbox-description Ux Design
										label.hire-us__checkbox-container
											input.hire-us__checkbox(type="checkbox", value="webdesign")
											span.hire-us__checkbox-indicator
											span.hire-us__checkbox-description Webdesign
									.hire-us__row
										label.hire-us__checkbox-container
											input.hire-us__checkbox(type="checkbox", value="marketing")
											span.hire-us__checkbox-indicator
											span.hire-us__checkbox-description Marketing
									.hire-us__row.hire-us__inputs-row
										label.hire-us__input-label Name
											input.hire-us__user-name.hire-us__input(type="text")
										label.hire-us__input-label Email
											input.hire-us__user-email.hire-us__input(type="text")
									button.prevdef.hire-us__submit-button Send Request
		// Content End
		// Scripts
		// General
		script(src="js/libs.min.js")
		script(src="js/common.js")
		// Modernizr
		script(src="libs/modernizr/modernizr.js")
		// Selector
		script(src="libs/selecter/jquery.fs.selecter.min.js")
		//- script.
		//- 	$(document).ready(function() {
		//- 		$('select').selecter();
		//- 	});
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// NoUI Slider
		script(src="libs/nouislider/nouislider.min.js")
		// Powerange
		script(src="libs/powerange/powerange.min.js")
		// Slider.UI (https://jqueryui.com/slider/)
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		// WoW
		script(src="libs/wow/wow.min.js")
		script
			//- | new WOW().init();
		// Parallax
		script(src="libs/parallax/parallax.min.js")
		script
			//- | var scene = document.getElementById('scene');
			//- | var parallaxInstance = new Parallax(scene);
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]